body{
  margin: 0;
  padding: 0;
  width:100%;
}

header {
  display: flex;
  align-items: center;
  justify-content:flex-start;

  padding: 0.25rem 1.5rem;
  background: #fff;
  border-bottom: 1px solid #eee;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);

  position: sticky; 
  top: 0;
  z-index: 1000;
}

.brand-logo {
  font-size: 1.3rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-right: 8rem;
}

header .search-bar {
  flex: 1;
  max-width: 30rem;
  margin: 0 2rem;
  display: flex;
  align-items: center;

  background: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;

}

header .search-bar input {
  flex: 1;
  border: none;
  outline: none;
  padding: 0.6rem 1rem;
  background: transparent;
  font-size: 1rem;
}


header nav {
  display: flex;
  gap: 1.5rem;
}

header nav a {
  display: block;
  text-align: center;
  padding: 0.6rem 1rem;
  min-width: 8rem;

  background-color: #111;
  color: #fff;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 500;

  border-radius: 8px;
  transition: background 0.2s ease;
}

header nav a:hover {
  background-color: #333;
}

.profile-image{
  margin-left: 12rem;
}

footer {
  display: flex;
  align-content:flex-start;
  justify-content: space-around;
  width: 100%;
  background-color: #111;
  bottom:0;
}

.descriptionDiv{
  max-width: 500px;
  padding-left: 5rem;
  padding-right: 5rem;
  padding-bottom: 2rem;
  color: #fff;
}

footer nav {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #fff;
}

footer nav a {
  color: #000;
  text-decoration: none;
  font-size: 0.9rem;
  color: #fff;
}

footer nav a:hover {
  text-decoration: underline;
}

.auth-div{
  display: flex;
  flex-direction: column;
  margin-left: 12rem;
}