#container {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 2rem;
    min-height: 100vh;
}

#book-table {
    margin-left: 10rem;
}

table,
th,
tr,
td {
    border: 1px solid black;
    border-collapse: collapse;
}

.actions-column {
    display: flex;
    flex-direction: column;
}

.search-bar input {
    flex: 1;
    padding: 0.6rem 1rem;
    background: transparent;
    font-size: 1rem;
}

#options {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-bottom: 1rem;
}

.alter-button {
    display: block;
    text-align: center;
    padding: 0.5rem 0.8rem;
    min-width: 6rem;

    background-color: #111;
    color: #fff;
    text-decoration: none;
    font-size: 0.7rem;
    font-weight: 500;

    border-radius: 8px;
    transition: background 0.2s ease;
}

.alter-button:hover {
    background-color: #333;
}