#container{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80vw;
    min-height: 20rem;
}

#add-book-form{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    margin: auto;
    padding:auto;
    align-items:left;
}

.input-add{
    padding: 0.8rem;
    font-size: 1.2rem;
    min-width:15rem;
}

.input-add-n{
    padding: 0.8rem;
    font-size: 1.2rem;
    max-width:5rem;
}

.input-add-d{
    padding: 0.6rem;
    font-size: 0.8rem;
    min-width:15rem;
    min-height:10rem;
}

.select-add{
    padding: 0.8rem;
    font-size: 1.2rem;
    min-width:10rem; 
}

.submit{
text-align: center;
  padding: 0.8rem 1rem;
  margin-top: 1rem;

  background-color: #111;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 500;

  border-radius: 8px;
  transition: background 0.2s ease;
}