<div class ="container my-5">
    <h1 class = "mb-3">Users</h1>
    <table class="table" *ngIf="users">
        <thead>
            <tr>
                <th>Id</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Phone</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{user.id}}</td>
                <td>{{user.firstName}}</td>
                <td>{{user.lastName}}</td>
                <td>{{user.phone}}</td>
                <td><a [routerLink]="['/users', 'edit', user.id]">Edit</a></td>
            </tr>
        </tbody>
    </table>
    <p *ngIf="!users">No users found</p>
    <button class="btn btn-outline-success" type="button" (click)="redirectToNewUser()">Add User</button>
</div>

