<body id="container">
<form [formGroup]="editBookForm" id="add-book-form" (ngSubmit)="onSubmit()">
    <input class="input-add" type="text" placeholder="Title" formControlName="title">
    <input class="input-add" type="text" placeholder="ISBN" formControlName="isbn">
    <input class="input-add" type="text" placeholder="Publisher" formControlName="publisher">
    <input class="input-add-n" type="number" placeholder="Year" formControlName="year">
    <input class="input-add-n" type="number"  placeholder="Pages" formControlName="pagesCount">
    <textarea class="input-add-d" type="text" placeholder="Description" formControlName="description"></textarea>
    <input class="input-add" type="url" formControlName="coverImageUrl">
    @if(type === 'ebook'){
    <input class="input-add" type="url" placeholder="File URL" formControlName="file">
    <select class="select-add" formControlName="accessType">
        <option value="Free">Free</option>
        <option value="Paid">Paid</option>
    </select>
    }
    @if(type === 'copy'){
        <select class="select-add" formControlName="status">
        <option value="Available">Available</option>
        <option value="CheckedOut">Checked Out</option>
        <option value="Reserved">Reserved</option>
        <option value="Lost">Lost</option>
        <option value="Damaged">Damaged</option>
    </select>
}
    <section class="input-chips">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectAuthor($event)">
            @for (filteredAuthor of filteredAuthorsList(); track filteredAuthor) {
            <mat-option [value]="filteredAuthor.name">{{filteredAuthor.name}}</mat-option>
            }
        </mat-autocomplete>
        <mat-form-field>
            <mat-chip-grid #authorChips aria-label="Author selection">
                <input class="input-chip" placeholder="Authors" [matChipInputFor]="authorChips"
                    (matChipInputTokenEnd)="addAuthor($event)" [matAutocomplete]="auto" [formControl]="author"
                    (input)="filterService.filterAuthors.set($any($event.target).value)">
                @for(author of searchedAuthors; track author){
                <mat-chip-row (removed)="removeAuthor(author)">
                    {{author}}
                    <button matChipRemove [attr.aria-label]="'remove template form' + author">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
        </mat-form-field>
    </section>
     <section class="input-chips">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectGenre($event)">
            @for (filteredGenre of filteredGenresList(); track filteredGenre) {
            <mat-option [value]="filteredGenre.name">{{filteredGenre.name}}</mat-option>
            }
        </mat-autocomplete>
        <mat-form-field>
            <mat-chip-grid #genreChips aria-label="Genre selection">
                <input class="input-chip" placeholder="Genres" [matChipInputFor]="genreChips"
                    (matChipInputTokenEnd)="addGenre($event)" [matAutocomplete]="auto" [formControl]="genres"
                    (input)="filterService.filterGenres.set($any($event.target).value)">
                @for(genre of searchedGenres; track genre){
                <mat-chip-row (removed)="removeGenre(genre)">
                    {{genre}}
                    <button matChipRemove [attr.aria-label]="'remove template form' + genre">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
        </mat-form-field>
    </section>
    @if(type === 'copy'){
    <section class="input-chips">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectLibrary($event)">
            @for (filteredLibrary of filteredLibrariesList(); track filteredLibrary) {
            <mat-option [value]="filteredLibrary.name">{{filteredLibrary.name}}</mat-option>
            }
        </mat-autocomplete>
        <mat-form-field>
            <mat-chip-grid #libraryChips aria-label="Library selection">
                <input class="input-chip" placeholder="Libraries" [matChipInputFor]="libraryChips"
                    (matChipInputTokenEnd)="addLibrary($event)" [matAutocomplete]="auto" [formControl]="library"
                    (input)="filterService.filterLibrary.set($any($event.target).value)">
                @for(library of searchedLibraries; track library){
                <mat-chip-row (removed)="removeLibrary(library)">
                    {{library}}
                    <button matChipRemove [attr.aria-label]="'remove template form' + library">
                        <mat-icon>cancel</mat-icon>
                    </button>
                </mat-chip-row>
                }
            </mat-chip-grid>
        </mat-form-field>
    </section>
}
    <div>
        <button class="submit" type="submit">Edit Book</button>
    </div>
</form>
</body>
